footer {
    grid-area: footer;
    display: grid;
    background-color: $background-footer;
    color: $font-footer;
    font-family: 'Roboto', sans-serif;;
    font-size: 0.6em;
}

footer p {
    display: grid;
    justify-content: center;
    align-self: center;
}