header {
    grid-area: header;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 1em;
    border-bottom: $border;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

header input {
    display: none;
}

header img {
    width: $profile-image;
    border-radius: 50%;
    justify-self: end;
}
        
@media (min-width: $tablet) {
    header input {
        display: inline-block;
    }

    header {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    header input {
        border: $border;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        padding: 0.5em;
    }
}
    
            
        
    
    